@use '../../abstracts' as *;

.skills__item
{
    position: relative;

    overflow: hidden;

    &-title
    {
        font-family: $font-main;

        z-index: 1;

        margin: 0;

        letter-spacing: .1em;

        @include md-min
        {
            font-size: 1.25rem;
        }
        @include md
        {
            font-size: 1.125rem;
        }
        @include absolute-position;
    }

    &-link
    {
        display: flex;

        height: 100%;
        padding: $gap;

        transition: color .3s;

        align-items: center;
        justify-content: center;
    }

    &-image
    {
        transition: scale .3s;

        background-color: $color-primary;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include absolute-position;
    }

    &-overlay
    {
        transition: opacity .3s;

        opacity: .8;
        background-color: $color-primary;

        @include absolute-position;
    }

    &:hover
    {
        .skills__item-overlay
        {
            opacity: .95;
        }

        .skills__item-image
        {
            scale: 1.1;
        }

        .skills__item-link
        {
            color: $color-accent;
        }
    }

    @for $i from 1 through 9
    {
        &:nth-child(#{$i})
        {
            grid-area: a#{$i};
        }
    }
}
