@use "../abstracts" as *;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5em 1em;

  min-width: 250px;
  min-height: 60px;

  letter-spacing: 0.1em;

  border-width: 2px;
  border-style: solid;

  transition: background-color 0.3s;

  font-size: 1.125rem;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }

  &--light {
    border-color: $color-white;
    background-color: rgba($color-white, 0.1);
  }

  &--primary {
    border-color: $color-white;
  }
}

.visually-hidden {
  @include visually-hidden;
}