@use '../../abstracts' as *;

.header__navbar
{
    &-list
    {
        @include md-min
        {
            display: grid;

            justify-content: end;
            gap: $gap;
            grid-template-columns: repeat(auto-fit, minmax(40px, max-content));
            @include unlist(0 (-$gap-sm) 0 0);
        }
        @include md
        {
            position: absolute;
            top: 100%;
            right: $gap;

            display: none;
            overflow: hidden;

            text-align: center;

            @include unlist;
            @include box-shadow;

            &::before
            {
                z-index: -1;

                content: '';

                background-color: rgba($color-gray-dark, .25);

                @include absolute-position(-$gap, -$gap, -$gap, -$gap);
                backdrop-filter: blur(5px);
            }
        }
    }
    &-item
    {
        @include md-min
        {
            margin: 0;
        }
    }
    &-link
    {
        font-size: 1.125rem;

        display: block;

        transition: color .3s;
        letter-spacing: .085em;

        @include md-min
        {
            padding: $gap $gap-sm;
        }
        @include md
        {
            padding: $gap-sm $gap;
        }

        &:hover,
        &:focus
        {
            color: $color-accent;
        }
    }
    &-btn
    {
        position: relative;

        width: 40px;
        height: 30px;
        margin-left: auto;

        cursor: pointer;

        @include md-min
        {
            display: none;
        }

        &-row
        {
            position: absolute;
            left: 0;

            display: block;

            width: 100%;
            height: 4px;

            transition: .25s ease-in-out;
            transform: rotate(0deg);

            opacity: 1;
            border-radius: 4px;
            background-color: $color-white;

            &:nth-of-type(1)
            {
                top: 0;
            }

            &:nth-of-type(2)
            {
                top: 12px;
            }

            &:nth-of-type(3)
            {
                top: 24px;
            }
        }

        &.active span
        {
            &:nth-of-type(1)
            {
                top: 12px;

                transform: rotate(135deg);
            }

            &:nth-of-type(2)
            {
                left: -40px;

                opacity: 0;
            }

            &:nth-of-type(3)
            {
                top: 12px;

                transform: rotate(-135deg);
            }
        }
    }
}
