@use '../../abstracts' as *;

.header__menu
{
    z-index: 2;

    padding: $gap 0;

    @include top-bar;
    @include md
    {
        background-color: rgba($color-gray-dark, .25);
    }
    @include box-shadow;

    &-container
    {
        display: grid;

        grid-template-columns: auto 1fr;
        align-items: center;
        gap: $gap;
        @extend %container;
    }
}
